@import '../../../../../ConstantsAndMixins.scss';

.friend-requests {
    .request {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile-info {
            display: flex;
            align-items: center;
            margin-right: 1rem;

            .profile-pic {
                margin-right: 1rem;
            }
        }

        .button-section {
            display: flex;
            align-items: center;

            .accept-button {
                margin-left: 1rem;
            }
        }

        @include tileStyles;
    }
}