@import '../../ConstantsAndMixins.scss';

.login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 100%;
    background: radial-gradient(darkred, black);

    .landing-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            font-size: 70px;
        }

        h2 {
            margin-top: 1rem;
            color: white;
            font-family: 'NunitoBlack';
        }
    }
}