@import '../../ConstantsAndMixins.scss';

.login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    .landing-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            font-size: 70px;
        }

        h2 {
            color: white;
        }
    }
}