@import '../../../../ConstantsAndMixins.scss';

.friends-modal {
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;

    .tab-panel {
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
    }
}