@import '../../../ConstantsAndMixins.scss';

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .MuiButtonBase-root, .MuiTextField-root, .error-message {
        margin-bottom: 1rem;
    }

    .error-message {
        color: $red;
        font-family: 'Nunito';
    }
}