@import '../../ConstantsAndMixins.scss';

$tab-bar-height: 48px; // matches Material's min-height

.tabs-container {
    .MuiTabs-root {
        height: $tab-bar-height;
    
        .MuiTab-wrapper {
            @include smallScreen {
                font-size: 12px;
            }
        }
    }

    .tab-panel {
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - #{$tab-bar-height});
        background-color: $light-gray;
        overflow: unset; // TODO check on friends tabs, but can't set here for droppable

        > * {
            width: 100%;
        }
    }
}