@import '../../../ConstantsAndMixins.scss';

.header {
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: black;
}