@import '../../ConstantsAndMixins.scss';

$search-bar-height: 3.5rem;
$search-top-padding: 1rem;
$tabs-top: calc(#{$search-bar-height} + #{$search-top-padding});

.home-page, .view-list-page {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .upper {
        height: $home-upper-height;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $gray;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        background-color: white;

        .profile, .suggestions {
            width: 50%;
        }
    }

    .lower {
        display: flex;
        background-color: $light-gray;
        height: calc(100% - #{$home-upper-height});

        .left, .right {
            height: 100%;
            width: 50%;
            padding: 1rem;
            box-sizing: border-box;
            overflow-y: auto;
            background-color: $light-gray;
        }

        // switch padding to search-wrapper to hide tiles behind div
        .left {
            padding-top: 0;
        }

        .search-wrapper {
            position: -webkit-sticky; /* Safari */ 
            position: sticky;
            padding-top: $search-top-padding;
            top: 0;
            height: $search-bar-height;
            background-color: $light-gray;
            z-index: 1;
        }

        .MuiTabs-root {
            position: -webkit-sticky; /* Safari */ 
            position: sticky;
            top: $tabs-top;
            background-color: $light-gray;
            z-index: 1;
        }

        .home-tab-header {
            display: flex;
            align-items: center;

            .tab-name {
                padding-left: $list-icon-padding;
            }
        }
    }

    // In small screen mode, everything is stacked and heights are auto
    @include smallScreen {
        height: auto;

        .upper {
            flex-direction: column;
            height: auto;
    
            .profile {
                width: 100%;
            }
    
            .suggestions {
                display: none;
            }
        }
    
        .lower {
            flex-direction: column;
            height: auto;

            .left, .right {
                height: auto;
                width: 100%;
            }

            .charts {
                border-top: solid 1px $gray;
            }

            .threshold {
                position: fixed;
                left: 1rem;
                right: 1rem;

                &.search-wrapper {
                    top: $header-height;
                }

                &.MuiTabs-root {
                    top: calc(#{$tabs-top} + #{$header-height});
                }
            }
        }
    }
}

.email-verification-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .message {
        margin-top: 2rem;
    }

    .email-address {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .send-again-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 8rem;
        }

        .spam-warning {
            margin-top: 5px;
            font-size: 0.9rem;
        }
    }
}