@import '../../ConstantsAndMixins.scss';

.home-page {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: $header-height;
    box-sizing: border-box;

    .main-content {
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;

        @include smallScreen {
            flex-direction: column;
        }
    }
}