@import '../../ConstantsAndMixins.scss';

.home-page {
    .upper {
        height: $home-upper-height;
    }

    .lower {
        height: calc(100% - #{$home-upper-height});
    }
}

.home-page, .view-list-page {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: $header-height;
    box-sizing: border-box;

    .main-content {
        height: 100%;
        width: 100%;
        min-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .upper {
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px $gray;
            padding: 0.5rem 1rem;
            box-sizing: border-box;
            background-color: white;

            .profile, .suggestions {
                width: 50%;
            }

            @include smallScreen {
                flex-direction: column;
                height: auto;

                .profile {
                    width: 100%;
                }
            }
        }

        .lower {
            display: flex;
            padding: 0 1rem;
            box-sizing: border-box;
            background-color: $light-gray;

            .favorite-list, .charts {
                width: 50%;
                padding: 1rem 0;
            }

            .charts {
                padding-left: 2rem;
                box-sizing: border-box;
            }

            @include smallScreen {
                flex-direction: column;
                overflow: auto;
                height: 100%;

                .favorite-list, .charts {
                    width: 100%;
                }

                .charts {
                    border-top: solid 1px $gray;
                }
            }
        }
    }
}

.email-verification-page {
    height: 100%;
    width: 100%;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;

    .message {
        margin: 1rem 0;
    }
}