@import '../../ConstantsAndMixins.scss';

$tab-bar-height: 30px;
$tab-bar-height-expanded: 60px; // For small screens the words may go onto two lines

.friends-page {
    height: 100%;
    width: 100%;
    padding-top: $header-height;
    box-sizing: border-box;

    .MuiTabs-root {
        height: $tab-bar-height;

        @include smallScreen {
            height: $tab-bar-height-expanded;
        }
    }

    .tab-panel {
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - #{$tab-bar-height});
        overflow: auto;
        background-color: $light-gray;

        @include smallScreen {
            height: calc(100% - #{$tab-bar-height-expanded});
        }

        .friend-requests, .current-friends {
            width: 100%;

            .request, .friend {
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                .profile-info {
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
        
                    .profile-pic {
                        margin-right: 1rem;
                        height: 100px;
                        width: 100px;
                    }
                }
        
                .button-section {
                    display: flex;
                    align-items: center;
        
                    .accept-button, .view-button {
                        margin-left: 1rem;
                    }
                }
        
                @include tileStyles;
            }
        }
    }
}

.remove-modal {
    .button-section {
        .confirm-button {
            margin-left: 1rem;
        }
    }
}