@import '../../ConstantsAndMixins.scss';

.friends-page {
    height: 100%;
    width: 100%;
    padding-top: $header-height;
    box-sizing: border-box;

    .tab-panel {
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;

        .friend-requests, .current-friends {
            width: 100%;

            .request, .friend {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
        
                .profile-info {
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
        
                    .profile-pic {
                        margin-right: 1rem;
                    }
                }
        
                .button-section {
                    display: flex;
                    align-items: center;
        
                    .accept-button, .view-button {
                        margin-left: 1rem;
                    }
                }
        
                @include tileStyles;
            }
        }
    }
}