@import '../../ConstantsAndMixins.scss';

$header-padding: 1rem;
$transition: all 1s ease-out;

@mixin absoluteCenter() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
}

@mixin absoluteTopLeft() {
    top: 0;
    bottom: 0;
    left: $header-padding;
    transform: translate(0%, 0%) scale(1);
}

@mixin fadeInDelayed() {
    @keyframes fadein {
        0% { opacity: 0; }
        75% { opacity: 0; }
        100% { opacity: 1; }
    }

    animation: fadein 1s ease-out;
}

.header {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0 $header-padding;
    box-sizing: border-box;
    background-color: black;
    transition: $transition;

    .logo-wrapper {
        transition: $transition;
        position: absolute;
        transform-origin: center;
        display: flex;
        align-items: center;

        @include absoluteCenter();

        text {
            user-select: none;
        }
    }

    &.header-mode {
        height: $header-height;

        .logo-wrapper {
            cursor: pointer;

            @include absoluteTopLeft();
        }
    }

    .action-button {
        display: block;
        margin-left: auto;

        @include fadeInDelayed();

        &.settings-icon {
            color: white;
        }
    } 
}