@import '../../ConstantsAndMixins.scss';

$header-padding: 1rem;
$animation-speed: 0.8s;
$animation-curve: cubic-bezier(0.58, 0.08, 0.26, 0.88);
$transition: all $animation-speed $animation-curve;

@mixin absoluteCenter() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
}

@mixin absoluteTopLeft() {
    top: 0;
    bottom: 0;
    left: $header-padding;
    transform: translate(0%, 0%) scale(1);
}

@mixin fadeInDelayed() {
    @keyframes fadein {
        0% { opacity: 0; }
        75% { opacity: 0; }
        100% { opacity: 1; }
    }

    animation: fadein $animation-speed;
}

.header {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0 $header-padding;
    box-sizing: border-box;
    background-color: black;
    transition: $transition;
    display: flex;
    align-items: center;

    .logo-wrapper {
        transition: $transition;
        position: absolute;
        transform-origin: center;
        display: flex;
        align-items: center;

        @include absoluteCenter();

        text {
            user-select: none;
        }

        &.can-click {
            cursor: pointer;
        }
    }

    &.header-mode {
        height: $header-height;

        .logo-wrapper {
            @include absoluteTopLeft();
        }
    }

    .action-button {
        display: block;
        margin-left: auto;

        @include fadeInDelayed();
    } 

    .settings-icon, .back-icon {
        color: white;
    }
}