@import '../../ConstantsAndMixins.scss';

.view-list-page {
    .view-list-container {
        padding: 1rem;
        box-sizing: border-box;

        .movie-tile {
            padding-left: $smaller-left-content-width;

            .left-content {
                width: $smaller-left-content-width;
            }
        }
    }
}