@import '../../../ConstantsAndMixins.scss';

.search-text-field {
    .MuiInputLabel-formControl {
        top: -4px; // Roughly centers placeholder text
    }

    .search-placeholder {
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
            padding-right: $list-icon-padding;
        }
    }
}

.search-option {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: 'Nunito';
    overflow: hidden;

    @include smallScreen {
        font-size: 12px;
    }

    @include mediumScreen {
        font-size: 14px;
    }

    .poster {
        max-height:100%; 
        max-width:100%;
        margin-right: 1rem;
        border-radius: 8px;
    }

    .title {
        margin-right: 1rem;
    }
}

.MuiAutocomplete-paper {
    border: solid 2px black;
    border-top: 0;
}