.modal {
    padding: 1rem;
    font-family: "Nunito";

    .modal-header {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .MuiDialogTitle-root {
            padding: 0;

            h2 {
                font-family: "NunitoBlack";
            }
        }

        .close-icon {
            margin: -12px;
        }
    }
}