@import '../../../ConstantsAndMixins.scss';

.view-list-favorite-movies {
    .tile {
        .my-rank {
            background-color: $dark-red;
            color: white;
            white-space: nowrap;
            padding: 2px 8px;
            border-radius: 15px;
            margin-left: auto;
        }

        .add-button {
            margin-left: auto;
        }
    }
}