@import '../../../ConstantsAndMixins.scss';

.profile {
    display: flex;
    align-items: center;

    .profile-pic-wrapper {
        cursor: pointer;

        .profile-pic {
            height: 100px;
            width: 100px;
        }
    }

    .name {
        text-align: center;
        margin-top: 0.5rem;
    }
}