@import '../../../ConstantsAndMixins.scss';

$profile-pic-width: 100px;
$profile-pic-margin: 1rem;

.profile {
    display: flex;
    align-items: center;
    height: 100%;

    @include smallScreen {
        justify-content: space-between;
    }

    .profile-pic-wrapper {
        cursor: pointer;

        margin-right: $profile-pic-margin;

        .profile-pic {
            height: $profile-pic-width;
            width: $profile-pic-width;
        }
    }

    .profile-info {
        height: 100%;
        width: calc(100% - #{$profile-pic-width} - #{$profile-pic-margin});
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .info-upper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name.display-mode {
                text-align: center;
                font-weight: bold;
            }

            .right {
                display: flex;
                align-items: center;
            }
        }

        .friends-button {
            border-radius: 10px;
            
            .MuiBadge-root {
                align-items: center;

                .num-friends {
                    margin-right: 2px;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}