@import './ConstantsAndMixins.scss';

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(./Resources/Fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoBlack';
    src: local('Nunito'), url(./Resources/Fonts/Nunito/Nunito-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: local('Bebas-Neue'), url(./Resources/Fonts/Bebas-Neue/BebasNeue-Regular.ttf) format('truetype');
}

// Setting heights: https://stackoverflow.com/a/17555766
html, #root {
    height: 100%;
}

body, .app {
    min-height: 100%;
}

.app {
    width: 100%;
    font-family: 'Nunito';
}

.MuiTooltip-tooltip {
    font-size: 16px !important;
}

body {
    margin: 0;
    background-color: $light-gray;
}

h1, h2 {
    margin: 0;
}