$header-height: 50px;
$standard-shadow: 10px 5px 5px red;
$home-upper-height: 120px;

// Colors
$light-gray: #f3f3f3; 
$gray: #c7c7c7;
$red: #C60000;
$dark-red: #9B0404;
$yellow: #FFF88B;

// Mixins
@mixin tileStyles() {
    background-color: white;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    border: solid $gray 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 $gray;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

    @include mediumScreen {
        font-size: 14px;
    }
}

$small-screen-min: 300px;
$small-screen-max: 700px;
$medium-screen-max: 1000px;

@mixin smallScreen {
    @media screen and (max-width: $small-screen-max) { @content; }
}

@mixin mediumScreen {
    @media screen and (max-width: $medium-screen-max) and (min-width: $small-screen-max + 1px) { @content; }
}

@mixin largeScreen {
    @media screen and (min-width: $medium-screen-max + 1px) { @content; }
}