@import '../../../ConstantsAndMixins.scss';
    
.favorite-list {
    .tile {
        @include tileStyles;

        display: flex;
        align-items: center;
        height: 125px;

        @include smallScreen {
            font-size: 14px;
        }

        .rank {
            font-family: 'NunitoBlack';
        }

        .poster {
            max-height: 100%;
            max-width: 100%;
            margin: 0 1rem;
            border-radius: 8px;
        }
    }
}