@import '../../../ConstantsAndMixins.scss';
  
.favorite-list {
    overflow: auto;

    @include smallScreen {
        overflow: unset;
    }

    .movie-tile {
        position: relative;

        .remove-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
        }

        &:hover {
            .remove-icon {
                display: block;
            }
        }
    }
}