@import '../../../ConstantsAndMixins.scss';

.favorite-list-wrapper {
    padding: 1rem;
    max-width: 380px;

    .search {
        margin-bottom: 1rem;
    }
    
    .favorite-list {
        .tile {
            @include tileStyles;
        }
    }
}